<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chz.myMyBatisPlus.persistence.mapper.UserMapper">

    <resultMap id="user" type="com.chz.myMyBatisPlus.persistence.po.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="tenant_id" property="tenantId" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <select id="selectUserById" parameterType="long" resultMap="user">
        SELECT * FROM chz_user
        WHERE id = #{id}
    </select>

</mapper>

